body {background-color: lightgray;}
h1{color: black;}
h1{font-family:monospace}
h1{border: solid}
h1{background-color: lightblue}
h1{text-align: center}

p{color: black}
p{background-color: lightpink}
p{font-family: monospace}
p{text-align: center}
p{
    height: 10%;
padding: 6px}
#para1{font-size: 30px}
#para2{font-size: 20px}
#para1{font-style: italic}
#para2

button{display: inline-block}
button{border: solid}
